{% extends 'base.html' %}
{% load static %}

{% block content %}
<body>
    <section class="section notice-detail-section py-5">
        <div class="container">
            <div class="text-center mb-4">
                <h2 class="section-title"><span class="px-2">공지사항 상세 내용</span></h2>
            </div>
            <div class="notice-card">
                <div class="card-body">
                    <h4 class="card-title font-weight-semi-bold">{{ notice.title }}</h4>
                    <p class="card-text mt-3">{{ notice.content }}</p>
                </div>
                <div class="card-footer bg-transparent border-top-0 text-muted">
                    <p class="card-text small">{{ notice.created_at|date:"F d, Y" }}</p>
                </div>
            </div>
        </div>
    </section>
</body>
{% endblock %}
