{% extends 'base.html' %}

{% block title %}장바구니{% endblock %}

{% block content %}
    <h1>장바구니</h1>
    <table>
        <tr>
            <th>상품명</th>
            <th>수량</th>
            <th>가격</th>
            <th>합계</th>
        </tr>
        {% for item in cart_items %}
        <tr>
            <td>{{ item.product.name }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.product.price }}</td>
            <td>{{ item.product.price|multiply:item.quantity }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="3">총합</td>
            <td>{{ total_price }}</td>
        </tr>
    </table>
{% endblock %}
