{% extends 'base.html' %}

{% block title %}주문 생성{% endblock %}

{% block content %}
    <h1>주문 생성</h1>
    <form method="post">
        {% csrf_token %}
        <label for="product_id">상품:</label>
         <select name="product_id">
            <option value="" selected disabled>상품 선택</option>
            {% for product in products %}
                <option value="{{ product.id }}">{{ product.name }}</option>
            {% endfor %}
        </select>
        <label for="quantity">수량:</label>
        <input type="number" name="quantity" value="1" min="1">
        <button type="submit">주문 생성</button>
    </form>
{% endblock %}
